#titulo {
color: tomato;
}
p.especial{
    color: green;
}
p.texto {
    color: blue;
}

div p {
    color: aquamarine;
}
div h2, div h3{
    color: brown;
}
* {
    font-size: 24px;
    /* color: black; */
}
/*Es un comentario*/
/*
Esto es un comentarios con varias lineas
*/
/*
.color {
    color: #ff0000;
}
.color {
    color: rgb(0,255,255);
}
*/
.color {
    /* border: 5px black dotted; */

/*
dotted
dashed
solid
double
groove
ridge
inset
*/
border-style: solid;
border-color: blue;
border-radius: 5px;
border-width: 2rem;
}
#fondo  {
    background-color: rgba(255, 0, 0);
    /* opacity: 0.3; */
    height: 200px;
    background: #f00 url(Img/Ejem1.gif) repeat-y center bottom /100px 100px;
    
}
.margen {
 background-color: chocolate;
 margin: 15px ;
 padding: 30px 15px 5px;
 border: solid 1px black;
 height: 200px;
 width: 50px;
 overflow: scroll;
 outline: 1px solid red;
}
.text {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}
a:link {
    color: blueviolet;
}
a:visited {
    color: gray;
}
a:hover {
    color: #f00;
}
a:active {
    color: aqua;
}
ul {
    background-color: blue;
    list-style-type: georgian;
    /* padding-left: 0; */
    /*list-style-position: inside; */
}

table {
    width: 100px;
    border-collapse: collapse;
}
th, td{
    border: solid 1px #eee;
    padding: 5px;
}
th {
    background-color: tomato;
    color: white;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #eee;
}
tr:hover {
    background-color: #aaa;
    cursor: pointer;
}
span {
    display: block;
    /* display: none;
    visibility: hidden; */
    width: 300px;
    background-color: #f00;
}
.inline {
    display: inline;
}
#position {
    position: sticky;
    left: 20px;
    top: 25px;

}
.left {
    float: left;
    width: 100px;
}
.container {
    height: 200px ;
}
.right {
    float: right;
}
.card {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}
.inline-block {
    display: inline-block;
    height: 55px;
    background-color: red;
}
.center {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}
