body {
    margin: 0;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

body * {
    box-sizing: content-box;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    display: flex;
    gap: 32px;
    height: 100%;
}
header {
    height: 80px;
    padding: 0px 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    box-shadow: 0px 1px 2px #00000024;
}
header .logo {
    height: 100%;
}

nav {
    display: flex;
    gap: 32px;
    height: 100%;
}

nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register .login .bottom2 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 6px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: all 400ms ease;
}
.register .login .bottom2:hover {
    background: black ;
    color: aliceblue;
}
.Space-SignIn{
    padding-top: 5rem;
    padding-left: 35rem;
}
.SignIn {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.75);
    overflow: hidden;
}
.SignIn form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 5px;
    
}
h1 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5);
    margin-bottom: 60px;
}
label {
    color: black;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}
input {
    background: rgba(0, 0, 0, 0.068);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
}
button {
    background: gray;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.3);
    color: #000000;
}
