*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(45deg, #b9fa22, #fff) ;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.carculador {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(215, 215, 215);
    background-color: #fff;
    
    #display{
        color: black;
        margin: 0 10px;
        height: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    #equal{
        height: 130px;
    }
    #clean{
        background-color: #fff;
        color: red;
    }
    .btn-number{
        background-color: #c3eaff;
        color: red;
    }
    .btn-operator {
        background-color: #ffd0fb;
        color: #f967f3;
    }
    .btn-equal{
        background-color: black;
        color: red;
    }
    /* Tema Negro */
    &.dark{
        background-color: #1b1b1b;
        #display {
        color: white;
        }
    #clear{
        background-color: #4c35aa;
        color: white;
        }
    .btn-number{
        background-color: #8EFDA6;
        color: black;
        font-weight: 600;
    }
    .btn-equal{
        background-color: #fff;
        color: black;
    }
    .btn-operator{
        background-color: #f0db4f;
        color: black;
        font-size: 25px;
    }
    }
}
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        transform: translate(-50%, -50% );
        border-radius: 50%;
        background-color: #333;
        z-index: 1;
    }
}
.theme-toggler .active{
    color: #333;
    &::before{
        background-color: #fff;
    }
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
        transform: scale(1.1);
    }
}
