html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main {
  max-width: 1200px;
  margin: 1rem auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}
.logo {
  color: rgb(213, 22, 22);
  width: 300px;
}
ul li {
  display: inline-block;
  padding: 0px 20px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
}
.bara {
  display: flex;
  justify-content: right; 
}
.bara img {
  height: 25px ;
  width: 25px;
  cursor: pointer;
}
.position-select {
  display: flex;
  justify-content: right;
}
.custom-select {
  display: inline-block;
  position: relative;
  width: 200px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: none #ccc;
  border-radius: 4px;
  overflow: hidden;
}
.search-bar {
  outline: none;
  border: none;
}
section{
  transition: all 400ms ease;
  color: #ffffff;
  background: #b23636;
  margin: 1rem 0;
  display: flex;
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;
  
}
.post{
  gap: 32px;
  flex: 1 1;
  width: 100%;
}
.principal .principal2 a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 400ms ease;
} 
.principal .principal2 a:hover {
  background: #e5e4e4;
  color: #ffffff;
}
.principal .principal2 .date-time {
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  padding: 7px;
  margin-top: 7px;
  color: black;
  border: 1px solid #ffff;
  border-radius: 4px;
  transition: all 400ms ease;
  background: #ffd3d4;
}
.date-time{
  border: none;
  outline: none;
}
.OtrosP{
  display: flex;
  justify-content: center;
}
div {
  padding: 16px;
  gap: 16px;
  margin: auto;
  align-items: flex-start;
}
.container {
  width: 100%;
  display: flex;
  max-width: 1100px;
  gap: 32px;
}
.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #b23636;
  box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2 );
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0,0.2 );
  transform: translateY(-3%);
}
.card .date-time {
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  padding: 7px;
  margin-top: 7px;
  color: black;
  border: 1px solid #ffff;
  border-radius: 4px;
  transition: all 400ms ease;
  background: #ffd3d4;
}
.card img {
  width: 100%;
  height: 210px;
  float: right;
}
.card .contenido {
  padding: 15px;
  text-align: center;
}
.card .contenido p{
  line-height: 1.5;
  color: #ffffff;

}
.card .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
  color: #ffffff;
}
.card .contenido a{
   text-decoration: none;
   display: inline-block;
   padding: 10px;
   margin-top: 10px;
   color: #ffffff;
   border: 1px solid #ffffff;
   border-radius: 4px;
   transition: all 400ms ease;
}
.card .contenido a:hover {
  background: #e5e4e4;
  color: #ffffff;
}