body {
    margin: 0;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

body * {
    box-sizing: content-box;
}

main {
    padding: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    gap: 32px;
    height: 100%;
}

header {
    height: 80px;
    padding: 0px 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    box-shadow: 0px 1px 2px #00000024;
}

header .logo {
    height: 100%;
}

nav .menu-option {
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-option.active {
    border-bottom: 3px solid white;
}

.present {
    display: flex;
    justify-content: center;
    margin: 10rem;
}

.present h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: -20px;
}

.present p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin-top: -23px;
}

.present h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 38px;
}

.present .present-b a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-right: 18rem;
    margin-left: 18rem;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: all 400ms ease;
}

.present .present-b a:hover {
    background: black;
    color: aliceblue;
}

.final {
    height: 80px;
    padding: 0px 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 32px;
    background-color: #000000;
    color: white;
}

.final a {
    text-decoration: underline red;

}