html {
    /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier>  */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
body {
    margin: 0;
    background-color: rgba(197, 189, 189, 0.826);
    flex-direction: column;
}
header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}
header h1 {
    font-size: 4rem;
    text-align: center;
}
.container {
    width: 450px;
    margin: 0 auto;
}
section article{
transition: box-shadow 0.3s ease;
background-color: white;
margin: 1rem 0;
border-radius: 1rem;
padding: 1rem;
cursor: pointer;
}
.post {
    text-align: center;
}
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0);
}
section article h2, section article p {
margin: 1rem;
}
footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}
footer section {
    float: right;
}
footer p {
    margin: 0;
}
footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;

}
footer a:hover {
    color: cornflowerblue;
}